@font-face {
    font-family: "consola";
    src: url('/assets/fonts/CONSOLA.TTF');
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "consola";
    background-image: url("./assets/geometry-geometric-web-dark-wallpaper-preview.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background: #181f20;
    height: 8vh;
}

nav {
    display: flex;
    padding-left: 50px ;
    flex-direction: row;
    align-items: center;

}

nav .img {
    width: 10px;
    height: 10px;
}

header h5 {
    font-size: 1.8rem;
    width: 30px;
    color: #ffff;
}

.icons-top {
    width: 90px;
    margin-top: 6px;

}

h1 {
    font-family: "consola";
    padding: 28px 20px  10px 30px;
    font-size: 3rem;
    cursor: pointer;
    font-weight: bolder;
    color: antiquewhite;
   /*  text-shadow: 1px 2px 4px rgb(255, 255, 255); */
    -webkit-text-fill-color: #ffff;
    /* -webkit-text-stroke: 2px rgb(160, 36, 36); */
}

h1:hover {
    padding: 28px 20px  10px 30px;
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 4px rgb(180, 99, 99);
    -webkit-text-fill-color: #ffff;
    /* -webkit-text-stroke: 2px rgb(160, 36, 36); */
}

.box {
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.ethical {
    padding: 20px;
    margin: 30px 30px 30px 0px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 20%;
    height: 30%;
    background: rgba(255, 255, 255, 0.527);
}

.ethical:hover {
    padding: 20px;
    margin-top: 30px;
    border: 3px solid rgb(14, 28, 155);
    border-radius: 10px;
    width: 20%;
    height: 30%;
    background: #7683ca85;
    cursor: pointer;
}

h6 {
    color: antiquewhite;
    font-size: 1.1em;
    justify-content: center;
    align-items: center;

}


.tools-add a{
    font-size : 1.4em;
    text-decoration: none;
    margin-left: 30px;
    padding-top: 0;
    margin-top: 0;
    color: antiquewhite;
}

.tools-add a:hover{
    font-size : 1.4em;
    text-decoration: none;
    margin-left: 30px;
    padding-top: 0;
    margin-top: 0;
    color: rgb(35, 21, 160);
}


.cyberlab-img {
    width: 55%;
    justify-content: center;
    align-items:center;

}

.cyberlab-mal {
    width: 42%;
}

/* button {
    padding: 10px 20px;
    margin-left: 38px;
    background: transparent;
    border:2px solid whitesmoke; 
    border-radius: 9px;
    color: #181f20
}

button:hover {
    padding: 10px 20px;
    margin-left: 38px;
    background: #ffff;
    color: rgb(7, 7, 143);
    border:2px solid rgba(0, 55, 235, 0.918); 
    border-radius: 9px;
} */